.feature__title {
    font-style: 700px;
    font-weight: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px; 
        @media screen and (min-width: 768px) {
            text-align: start;
        }
}
.feature__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        margin-left: -30px;
        margin-bottom: 30px;
    }
}
.feature__item {
    margin-bottom: 30px;   
    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
        width: 354px;
    } 
    @media screen and (min-width: 1200px) {
        // width: calc(100% / 4 -30px);
        // width: 270px;
    }
}
.feature__item:last-child {
        margin-right: 0px;
}

.feature__box {
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F4FA;
    border-radius: 4px; 
}
.feature__icon {
    width: 70px;
    height: 70px;
}
