
.header-container {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    @media screen and (min-width:768px) {
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
    }
    @media screen and (min-width:1200px) {
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        justify-content: space-between;
    }
}
.logo {
    font-family: Raleway, cursive;
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    padding-left: 15px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width:768px) {
        font-size: 24px;
        line-height: 1.1;
        margin-right: 88px;
    }
    @media screen and (min-width:1200px) {
    margin-right: 93px;
    font-size: 26px;
    }
} 
.accent {
    color: var(--accent-color);
}

/* ------------SITE NAV----------------- */
.site-nav {
    display: none;

    @media screen and (min-width:768px) {
    display: flex;
    
    }
    @media screen and (min-width:1200px) {
        display: flex;
    }
}
.site-nav__item {
    margin-left: 50px;
    
 }
    // }
    // @media screen and (min-width:1200px) {
    

.site-nav__link,
.auth-nav {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 00.02em;
    color: var(--title-text-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width1200px) {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }
}
.auth-nav__mail,
.auth-nav__phone {
    color: var(--primary-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    fill: currentColor;
    transition-property: color;
    
}  
.auth-nav__mail {
    @media screen and (min-width:768px)and (max-width:1200px) {
        margin-bottom: 10px;
    }
}


// /* ------------AUTH-NAV----------------- */
.auth-nav {
    display: none;
    margin-left: auto;
    @media screen and (min-width:768px) {
        display: block;
    }
    @media screen and (min-width:1200px) {
        display: flex;
        align-items: center;
    }
}
.auth-nav__item {
        display: flex;
        margin-left: 50px;
}
.auth-nav__icon {
    margin-right: 8px;
    @media screen and (min-width:1200px) {
        margin-right: 10px;
    }
}
.icon-mail {
    width: 14px;
    height: 10px;
    @media screen and (min-width:1200px) {
    width: 16px;
    height: 12px;
    }
}
.icon-phone {
    width: 10px;
    height: 14px;
    @media screen and (min-width:1200px) {
    height: 16px;
    }
}
.menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: auto;
    display: block;
    z-index: 10;
    @media screen and (min-width:768px) {
        display: none;
    }
    @media screen and (min-width:1200px) {
        display: none;
    }
}
.menu-btn-icon {
    display: block;
}
.icon-close {
    display: none;
}

.menu-btn.is-open .icon-close {
    display: block;
}
.menu-btn.is-open .icon-open {
    display: none;
} 
.site-nav__link-current {
    color: var(--accent-color);
    position: relative;
    &::after {
        position: absolute;
    content: "";
    background-color: var(--accent-color);
    display: block;
    width: 100%;
    height: 4px;
    bottom: -32px;
    border-radius: 2px; 
    }
    // @media screen and (min-widht:768px) {
    //     .site-nav__link-current::after {
    //     bottom: -40px;
    //     }
    // }
}
.site-nav__link:hover,
.site-nav__link:focus
.auth-nav__mail:focus,
.auth-nav__mail:hover,
.auth-nav__phone:hover,
.auth-nav__phone:focus {
    color: var(--accent-color);
}