.portfolio-btns__container {
    padding-bottom: 0;
}
.buttons {
    color: var(--title-text-color);
    background-color: var(--filter-background);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;
    min-height: 38px;
    cursor: pointer;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
}
.btn__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media screen and (min-width:768px) {
    // display: flex;
    margin-bottom: 30px;
    justify-content: center;
    }
    @media screen and (min-width:1200px) {
    // display: flex;
    // justify-content: center;
    margin-bottom: 50px;
    }
}
.btn__item {
    margin-right: 8px;
        &:last-child {
        margin-right: 0px;
        }
    @media screen and (max-width:767px) {
    margin-bottom: 15px;
    &:nth-last-child(-n+2) {
        margin-bottom: 0px;
        }
    }   
}
    

