.team {
    display: flex;
    background-color: #F5F4FA;
    margin-bottom: 0;
}
.team__title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-list {
    display: flex;
}
.team-list__card {
    background-color: var(--white-color);
    margin-right: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px
    rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    &:last-child {
    margin-right: 0px;
    }
}
.team-list__item-wrap {
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-list__item {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 10px;
    text-align: center;
}
.team-list__description {
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 16px;
}
