.works.visually-hidden {
    @media screen and (max-width:1199px) {
        visibility: hidden; 
        width: 0;
        height: 0;
    }
}
.works-container {
    padding-top: 0px;
}
.works__list {
    display: flex;
    justify-content: space-between;
}
.works__cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works__text {
    position: absolute;
    left: 100px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    color: #FFFFFF;
    width: 370px;
    height: 70px;
    left: 0;
    bottom: 0; 
    padding: 27px 82px 27px 83px;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--white-color);
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms;
    transition-duration: cubic-bezier(0.4, 0, 0.2, 1);
} 