.join {
    margin-left: 70px;
    
}
.join__title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
}
.footer-social__list {
    width: 205px;
    display: flex;
    margin-top: 20px;
    padding: 0px;
}
.footer-social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: var(--white-color);  
    background: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
    
    }

.footer-social__item {
    margin-right: 10px;
}
.footer-social__icon {
    fill: var(--white-color);
}
