.container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    // margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    
        @media screen and (min-width: 480px) { 
        width: 480px;
        // padding-top: 60px;
        // padding-bottom: 60px;
        // margin: 0 auto;
    }
        @media screen and (min-width: 768px) { 
        width: 768px;
        // padding-top: 60px;
        // padding-bottom: 60px;
    }
        @media screen and (min-width: 1200px) { 
        width: 1200px;
        padding-top: 94px;
        padding-bottom: 94px;
        
    }
}


// .container {
//     width: 1200px;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-left: auto;
//     margin-right: auto;
// }

// @media screen and (min-width: 768px) {
//     .container {
//     background-color: orange;
//     }
// }
// @media screen and (min-width: 1200px) {
//     .container {
// background-color: black;
//     }
// }
// «C1» При написании стилей использован Mobile First
//  подход и медиа-функция (min-width: ).
// «C4» Вёрстка выполнена относительно трёх точек 
// перелома: 480px, 768px и 1200px.