ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button, input, a {
    outline: none;
    cursor: pointer;
}
h1,h2,h3,h4,p,ul{
    margin-top: 0;
    margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}