:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-button: #188ce8;
  --white-color: #ffffff;
  --icon-clr: ##AFB1B8;

  --background-color: #e5e5e5;
  --hero-background-color: #2f303a;
  --second-accent-color: #000000;
  --filter-background: #f5f4fa;
  
}